<!DOCTYPE html> 

<head>
	<html lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!----- Website Stylesheets---->
	<link rel="stylesheet" type="text/css" href="../css/layout.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/margins.css">
	<!----- Website Stylesheets---->
	
	<title>CPS - Android Products Info</title>
	<link rel="website icon" type="image/png" href=../images/web_icon/title.png>
	
</head>

<body>
	<header>
		<a href = index.html>
		<img class = "HeaderImg" src = "../images/home/header.png" alt = "photo of title and logo">
	</header>
	<div>
	<nav>
		<ul> 
			<li><a href = "../index.html">Home</a></li>
			<li><a href= "../shop.html">Shop </a></li>
			<li><a href ="../appleproductsinfo.html">Apple Products Info</a></li>
			<li><a href = "../androidproductsinfo.html" class="current_page">Android Products Info</a></li>
			<li><a href= "../basket.html">Basket</a></li>
			<li><a href = "../login.html">Login</a></li>
		
			
		</ul>
	</div>
	</nav>
	<hr>
	<h1 align="left">Android Products Information</h1>
	
	<img src="../images/shop/oneplus9pro.png">
	
	<p><font size="6"> OnePlus 9 Pro 128 GB Stella Black - Released on the 23rd of March, 2021, it is OnePlus' most powerful smartphone to date. OnePlus are known for fantastic, up to date and powerful hardware
	in their phones. This is all sold at a fair price, too. Some new hardwares/technologies in the OnePlus 9 Pro include: 6.7 inch AMOLED QHD+ display, 120Hz screen refresh rate, up to 12 GB of RAM, up to 256 GB ROM, a Snapdragon 888 CPU, 16MP front camera,
	48MP wide, 50MP ultrawide, 8MP telephoto (3.3x optical), monochrome	rear cameras, amongst many more cool features.
    <br><br>
	
	<img src="../images/shop/s20ultra.png">
	
	<p><font size="6"> Samsung Galaxy S20 Ultra 128 GB Cosmic Grey - Released on the 6th of March, 2020, the Samsung Galaxy S20 Ultra is Samsung's most powerful smartphone to date. Samsung are known for their clean
	looks, cutting edge technology and adaptation to Android on a software and hardware level. Some new hardwares/technologies in the Samsung Galaxy S20 ultra include: Dynamic AMOLED 2X, 120Hz, HDR10+, 1400 nits, 1440 x 3200 display with corning gorilla glass 6, 
	an Octa-core Qualcomm SM8250 Snapdragon 865 5G CPU, up to 16GB RAM and up to 512 GB ROM, 108 MP, f/1.8, 26mm (wide), 1/1.33", 0.8µm, PDAF, OIS rear camera, 40 MP, f/2.2, 26mm (wide), 1/2.8", 0.7µm, PDAF front camera, ultrasonic underscreen fingerprint sensor, 
	amongst many more cool features.
    <br><br>
	
	<img src="../images/shop/mi11ultra.png">
	<p><font size="6"> Xiaomi Mi 11 Ultra 256 GB Ceramic Black - Releasing in April 2021. Like previously mentioned products, this will be Xiaomi's most powerful smartphone to date. Unlike our other Android products, 
	Xiaomi Corporation is a Chinese multinational electronics company founded in April 2010 and headquartered in Beijing.
	The Xiaomi Mi 11 Ultra includes specifications such as: A 6.81 inch display with a resolution of 1440 x 3200, 50MP 4320p rear camera, up to 12 GB of RAM, up to 512 GB ROM, a Snapdragon 888 5G CPU, Gorilla Glass Victus, 5000 mAH battery, amongst many more cool features.
	
	<hr>
	<p><font size="10">Contact me <a href="mailto:B00119906@student.itb.ie" align="left">here!</a>	
	