<!DOCTYPE html> 

<head>
	<html lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!----- Website Stylesheets---->
	<link rel="stylesheet" type="text/css" href="../css/layout.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/margins.css">
	<!----- Website Stylesheets---->
	
	<title>CPS - Apple Products Info</title>
	<link rel="website icon" type="image/png" href=../images/web_icon/title.png>
	
</head>

<body>
	<header>
		<a href = index.html>
		<img class = "HeaderImg" src = "../images/home/header.png" alt = "photo of title and logo">
	</header>
	<div>
	<nav>
		<ul> 
			<li><a href = "index.html">Home</a></li>
			<li><a href= "shop.html">Shop </a></li>
			<li><a href= "appleproductsinfo.html" class="current_page">Apple Products Info </a></li>
			<li><a href = "androidproductsinfo.html">Android Products Info</a></li>
			<li><a href= "basket.html">Basket</a></li>
			<li><a href = "login.html">Login</a></li>
		
			
		</ul>
	</div>
	</nav>
	<hr>
	
	<h1 align="left">Apple Products Information</h1>
	<img src="../images/shop/iphonexs.png">
		<p><font size="6"> iPhone XS 64 GB Space Gray - Released on September 21st, 2018, this iPhone is still popular in 2021. It is the successor of the iPhone X, which was the first iPhone ever released without a home button and Touch ID fingerprint technology.
		Instead, Apple unveiled their latest innovation called "Face ID" which uses infared dot technology to take a virtual map of your face in order to unlock your device. Face ID has been improved in the iPhone XS, with this process being made much quicker.
    <br><br>
	
	<img src="../images/shop/iphone11.png">
		<p><font size="6"> iPhone 11 64 GB Black - Released on September 20th, 2019, this iPhone (much similar to iPhone XS) is widely used today as it is only two years old, and is Apple's successor to the less popular iPhone XR. This iPhone has two cameras, main and telephoto lens which
		allows for some impressive, high quality zoom shots. The battery has been improved on this iPhone, both hardware side and software side which allows for prolonged use throughout the day. This iPhone also features Face ID technology.
    <br><br>
	
	<img src="../images/shop/iphone12pro.png">
		<p><font size="6"> iPhone 12 Pro 128 GB Graphite - Released on October 23rd, 2020, this is Apple's lastest and greatest iPhone. This iphone was released slightly later than Apple's usual September release date for the iPhone lineup, due to the COVID-19 pandemic.
		Despite this, Apple surprised many iPhone fans with brand new technology, including the introduction of a cermaic glass display, LiDAR technology, further improved battery capacity and screen resolution. The iPhone 12 Pro features three cameras - 
		12MP Ultra Wide, Wide and Telephoto cameras, 5x optical zoom range, Night mode, Deep Fusion, Smart HDR 3, Apple ProRAW and 4K Dolby Vision HDR video recording. It is the most powerful and efficient iPhone to date.
    <br><br>
	
	<hr>
	<p><font size="10">Contact me <a href="mailto:B00119906@student.itb.ie" align="left">here!</a>	