<!DOCTYPE html> 

<head>
	<html lang ="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!----- Website Stylesheets---->
	<link rel="stylesheet" type="text/css" href="../css/layout.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/margins.css">
	<!----- Website Stylesheets---->
	
	<title>CPS - Shop</title>
	<link rel="website icon" type="image/png" href=../images/web_icon/title.png>
	
</head>

<body>
	<header>
		<a href = index.html>
		<img class = "HeaderImg" src = "../images/home/header.png" alt = "photo of title and logo">
	</header>
	<nav>
		<ul> 
			<li><a href = "index.html">Home</a></li>
			<li><a href= "shop.html" class="current_page">Shop </a></li>
			<li><a href ="appleproductsinfo.html">Apple Products Info</a></li>
			<li><a href = "androidproductsinfo.html">Android Products Info</a></li>
			<li><a href= "basket.html">Basket</a></li>
			<li><a href = "login.html">Login</a></li>
		
			
		</ul>
	</nav>
	<hr>
	
	<h1 align="left">Shop</h1>
	<br>
	<p><font size="5"><img src="../images/shop/iphonexs.png" alt="Picture of iphonexs" align="center"> iPhone XS 64 GB Space Gray - €499.99
	<p><button>Add to Cart</button></p>
	<br>
	<p><font size="5"><img src="../images/shop/iphone11.png" alt="Picture of iphone11" align="center"> iPhone 11 64 GB Black - €709.99
	<p><button>Add to Cart</button></p>
	<br>
	<p><font size="5"><img src="../images/shop/iphone12pro.png" alt="Picture of iphone12pro" align="center"> iPhone 12 Pro 128 GB Graphite - €1,179.99
	<p><button>Add to Cart</button></p>
	<br>
	<p><font size="5"><img src="../images/shop/oneplus9pro.png" alt="Picture of oneplus" align="center"> OnePlus 9 Pro 128 GB Stella Black - €919.99
	<p><button>Add to Cart</button></p>
	<br>
	<p><font size="5"><img src="../images/shop/s20ultra.png" alt="Picture of s20ultra" align="center"> Samsung Galaxy S20 Ultra 128 GB Cosmic Grey - €1,029.99
	<p><button>Add to Cart</button></p>
	<br>
	<p><font size="5"><img src="../images/shop/mi11ultra.png" alt="Picture of mi11ultra" align="center"> Xiaomi Mi 11 Ultra 256 GB Ceramic Black - €999.99
	<p><button>Add to Cart</button></p>
	
	
	<hr>
	<p><font size="10">Contact me <a href="mailto:B00119906@student.itb.ie" align="left">here!</a>